body {
    font-family: "Avenir Next";
  }
  
  li {
    list-style: none;
  }

  .header {
    background-color: #addbda;
    color: rgb(189, 24, 24);
    height: 100px;
  }

  .header-logo {
    float: left;
    font-size: 36px;
    padding: 10px 60px 30px 40px;
  }
  .header-list li {
    float: left;
    padding: 30px 10px 35px 40px;
  }

  .main {
    padding: 100px 80px;
  }

  .test1 h1 {
      font-size:66px;
  }

  .test1 h1 {
    border: 10px groove #ffa500;
}

  .test1 span {
      color:#FF8744
  }
  .contents {
    height: 800px;
    margin-top:450px;
  }

  .title1 {
    border-bottom: 2px solid #dee7ec;
    font-size: 28px;
  }

  .title1 span{
      color:#ffd700;
  }

  .title2 {
    border-bottom: 2px solid #dee7ec;
    font-size: 28px;
  }

  .title2 span{
      color:#c9caca;
  }

  .title3 {
    border-bottom: 2px solid #dee7ec;
    font-size: 28px;
  }

  .title3 span{
      color:#b8860b;
  }


  input, textarea {
    width: 500px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #dee7ec;
  }

  .contact-submit {
    background-color: #cccc44;
    color: #1e1bc7;
  }

  .footer {
    background-color: #1fa026;
    color: #fff;
    height: 120px;
    padding: 40px;
  }

  .footer-logo {
    float: left;
    font-size: 32px;
  }
  
  .footer-list {
    float: right;
  }

  .footer-list li {
    padding-bottom: 30px;
  }
